@use "../vars/colors";

.diploma-generator {
	padding: 60px 0;

	@media (max-width: 1080px) {
		padding: 0;
	}

	&__title {
		font-size: 38px;
		font-weight: 600;
		text-align: center;
		margin-bottom: 40px;

		@media (max-width: 540px) {
			font-size: 26px;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		@media (max-width: 1080px) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: 540px) {
			gap: 40px;
		}
	}

	&__diploma-choise {
		display: flex;
		column-gap: 15px;
		row-gap: 40px;

		@media (max-width: 721px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__generate {
		display: flex;
		flex-direction: column;
		flex: 50%;
		justify-content: space-around;
		align-self: normal;
		row-gap: 40px;
	}

	&__footer-title {
		margin-bottom: 20px;
		text-align: center;
		font-size: 22px;
		font-weight: 500;
	}

	&__download-btns {
		display: flex;
		justify-content: center;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__download-btn {
		background-color: colors.$accent;
		font-weight: 700;
		color: colors.$secondly;
		padding: 20px;
		border-radius: 50px;
		flex: 40%;
		min-width: 150px;
		transition: background-color ease-in-out 0.15s;

		@media (max-width: 1024px) {
			flex: 100%;
		}
		// @media (hover: hover) and (pointer: fine) {
		// 	&:hover {
		// 	}
		// }
	}
}
