.diploma {
	background-image: url("../../img/diplomas/diploma1.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 500px;
	min-width: 500px;
	aspect-ratio: 39 / 55;

	&__container {
		position: relative;
		padding: 45px 65px;
		height: 100%;
	}

	&__title {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 42px;
		position: relative;
		top: 13.5%;
		left: 0;
		text-align: center;
	}

	&__award {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 26px;
		position: relative;
		top: 21%;
		left: 0;
		text-align: center;
	}

	&__fio {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 22px;
		position: relative;
		top: 23%;
		left: 0;
		text-align: center;
		width: 250px;
		margin: 0 auto;
	}

	&__major {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 26px;
		position: relative;
		top: 25%;
		left: 0;
		text-align: center;
	}

	&__footer {
		position: absolute;
		bottom: 10%;
		left: 0;
		max-width: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: end;
		padding: 0 65px;
	}

	&__organization-fio {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 16px;
		width: 150px;
	}

	&__data {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 16px;
	}
}

.diploma-absolute {
	position: absolute;
	top: -10000px;
	.diploma {
		&__background {
			width: 500px;
			min-width: 500px;
		}
	}
}
