.diploma {
	display: flex;
	justify-content: center;

	&__background {
		background-image: url("../../img/diplomas/diploma1.png");
		background-repeat: no-repeat;
		background-size: contain;
		width: 500px;
		min-width: 500px;
		aspect-ratio: 39 / 55;
	}

	&__container {
		position: relative;
		padding: 45px 65px;
		height: 100%;
	}

	&__title {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 42px;
		position: relative;
		top: 13.5%;
		left: 0;
		text-align: center;
	}

	&__award {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 26px;
		position: relative;
		top: 21%;
		left: 0;
		text-align: center;
	}

	&__fio {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 22px;
		position: relative;
		top: 23%;
		left: 0;
		text-align: center;
	}

	&__major {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 26px;
		position: relative;
		top: 25%;
		left: 0;
		text-align: center;
	}

	&__footer {
		position: relative;
		top: 63%;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	&__organization-fio {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 16px;
	}

	&__data {
		font-family: "Tenor Sans", sans-serif;
		color: #0f7379;
		font-size: 16px;
	}
}

.diploma-absolute {
	.diploma {
		position: absolute;
		top: -10000px;

		&__background {
			width: 500px;
			min-width: 500px;
		}
	}
}
