@use "./vars/colors";

body {
	background-color: colors.$primary;
	color: colors.$text;
	font-family: "Montserrat", sans-serif;

	&.locked {
		overflow: hidden;
	}
}

.container {
	padding: 30px 40px;
	background-color: colors.$secondly;
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 2%;
	box-shadow: 0 0 14px rgba(#000000, 0.2);

	@media (max-width: 1080px) {
		border-radius: 0;
	}

	@media (max-width: 1080px) and (min-height: 775px) {
		height: 100vh;
	}

	@media (max-width: 935px) and (min-height: 775px) {
		height: 100%;
	}

	@media (max-width: 614px) {
		padding: 30px 20px;
	}
}
