body {
	background-color: #e8f0fe;
	color: #1a1a1a;
	font-family: "Montserrat", sans-serif;
}

.container {
	padding: 30px 40px;
	background-color: #ffffff;
	max-width: 1200px;
	margin: 0 auto;
	border-radius: 2%;
}
